@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

  --max-width: 91rem;

  --black-50: hsl(0, 0%, 95%);
  --black-100: hsl(0, 0%, 90%);
  --black-200: hsl(0, 0%, 80%);
  --black-300: hsl(0, 0%, 70%);
  --black-400: hsl(0, 0%, 60%);
  --black-500: hsl(0, 0%, 50%);
  --black-600: hsl(0, 0%, 40%);
  --black-700: hsl(0, 0%, 30%);
  --black-800: hsl(0, 0%, 20%);
  --black-900: hsl(0, 0%, 10%);

  --primary-50: hsl(29, 100%, 95%);
  --primary-100: hsl(29, 100%, 90%);
  --primary-200: hsl(29, 100%, 80%);
  --primary-300: hsl(29, 100%, 70%);
  --primary-400: hsl(29, 100%, 60%);
  --primary-500: hsl(29, 100%, 50%);
  --primary-600: hsl(29, 100%, 40%);
  --primary-700: hsl(29, 100%, 30%);
  --primary-800: hsl(29, 100%, 20%);
  --primary-900: hsl(29, 100%, 10%);


  --secondary-50: hsl(59, 100%, 95%);
  --secondary-100: hsl(59, 100%, 90%);
  --secondary-200: hsl(59, 100%, 80%);
  --secondary-300: hsl(59, 100%, 70%);
  --secondary-400: hsl(59, 100%, 60%);
  --secondary-500: hsl(59, 100%, 50%);
  --secondary-600: hsl(59, 100%, 40%);
  --secondary-700: hsl(59, 100%, 30%);
  --secondary-800: hsl(59, 100%, 20%);
  --secondary-900: hsl(59, 100%, 10%);


  --danger-50: hsl(0, 100%, 95%);
  --danger-100: hsl(0, 100%, 90%);
  --danger-200: hsl(0, 100%, 80%);
  --danger-300: hsl(0, 100%, 70%);
  --danger-400: hsl(0, 100%, 60%);
  --danger-500: hsl(0, 100%, 50%);
  --danger-600: hsl(0, 100%, 40%);
  --danger-700: hsl(0, 100%, 30%);
  --danger-800: hsl(0, 100%, 20%);
  --danger-900: hsl(0, 100%, 10%);
}



/*
 * Dark mode theme 
 */
:root[data-theme='dark'] {
  --text-color: #fff;
  --element-color: #000;
  --background-color: var(--black-900);
  --hover-background-color: rgba(255, 255, 255, 0.1);
  --divider-color: rgba(255, 255, 255, 0.2);
  --overlay-color: rgba(255, 255, 255, 0.4);
  --loading-stroke: hsla(223, 10%, 90%, 0.1);
}

/*
 * Light mode theme 
 */
:root[data-theme='light'] {
  --text-color: #000;
  --element-color: #fff;
  --background-color: var(--black-50);
  --hover-background-color: rgba(0, 0, 0, 0.1);
  --divider-color: rgba(0, 0, 0, 0.2);
  --overlay-color: rgba(0, 0, 0, 0.4);
  --loading-stroke: hsla(223, 10%, 10%, 0.1);
}


@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../assets/fonts/IRANSansWeb.eot');
    src: url('../assets/fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../assets/fonts/IRANSansWeb.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../assets/fonts/IRANSansWeb.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../assets/fonts/IRANSansWeb.ttf') format('truetype');
}

/* Webfont: Yekan */
@font-face {
	font-family: 'Yekan';
	src:	url('../assets/fonts/Yekan.eot'); /* IE9 Compat Modes */
	src:	url('../assets/fonts/Yekan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../assets/fonts/Yekan.woff2') format('woff2'), /* Modern Browsers */
			url('../assets/fonts/Yekan.woff') format('woff'), /* Modern Browsers */
			url('../assets/fonts/Yekan.otf') format('opentype'), /* Open Type Font */	
			url('../assets/fonts/Yekan.ttf') format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: IRANSans;
    line-height: 1.6;
}